<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="AllFilesAccessPolicy,ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- 基础权限 -->
<!--    <uses-permission-->
<!--        android:name="android.permission.FOREGROUND_SERVICE"-->
<!--        tools:ignore="ForegroundServicesPolicy" />-->
    <!-- Android 14+ 必须指定具体的类型，这里建议使用 specialUse 或 dataSync -->
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />-->
<!--    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />-->
    <!-- Android 13+ 发送通知权限 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
        android:name=".PDRApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PDFReader">
        <activity
            android:name=".ui.act.FilesListActivity"
            android:exported="false"
            android:theme="@style/Theme.PDFReader" />
        <activity
            android:name=".ui.act.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.PDFReader" />
        <activity
            android:name=".ui.act.PDFPreviewActivity"
            android:theme="@style/Theme.PDFReader" />
        <activity
            android:name=".ui.act.ImagePreviewActivity"
            android:theme="@style/Theme.PDFReader" />
        <activity
            android:name=".ui.act.TxtPreviewActivity"
            android:theme="@style/Theme.PDFReader" />
        <activity
            android:name=".ui.act.CreatePdfActivity"
            android:theme="@style/Theme.PDFReader" />
        <activity
            android:name=".ui.act.SearchActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.PDFReader" />
        <activity
            android:name=".ui.act.WelcomeActivity"
            android:exported="true"
            android:theme="@style/Theme.PDFReader">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

<!--        <receiver-->
<!--            android:name=".receiver.BootReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->
<!--                <action android:name="android.intent.action.USER_PRESENT" />-->
<!--                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />-->
<!--                <action android:name="android.intent.action.BATTERY_CHANGED" />-->
<!--                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <receiver
            android:name=".receiver.ScreenStateReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>

    </application>

</manifest>